
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env



prisma/migrations/
*.db
*.db-journal

mysql_data/
redis_data/
.docker/

logs/
*.log
npm-debug.log*
bullmq-error.log

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.bak

dist/
build/
.cache/